/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    height: 100%;
}
body {
    background: #e6e6e6;
    height: 100%;
}

main {
    flex: 1;
}

dl, ol, ul {
    margin-top: 0;
    margin-bottom: 0;
    list-style: none;
}

a {
    text-decoration: none;
    color: #000;
    display: block;
}

h1, h2, h3, h4, h5, h6, p {
    line-height: 1em;
}

/* 全体 */
.marker {
    background: linear-gradient(transmiddle 60%, #dc143c 90%);
    font-weight: bold;
}
.marker-light {
    background: linear-gradient(transmiddle 70%, #dc143c 90%);
    font-weight: bold;
}
#wrapper {
    width: 100%;
    position:relative;
    min-height: 100%;
}
header, main, footer {
    width: ;
}

header, footer {
    background-color: #6495ed;
}

/* ---------- Navigation ---------- */
.nav-wrap {
    margin: auto;
}
.nav-title h3 {
    color: #fff;
}
.nav-item a {
    color: #fff;
    padding-left: 0.5em;
    font-size: large;
}

/* Index */
.dropdown-item a {
    display: block;
}
.dropdown-item:hover {
    background-color: #f08080;
}

/* News */
.post_detail {
    display: grid;
    justify-content: end;
}
.post_detail p {
    margin: 0.2rem;
}
.news {
    border: solid rgb(186, 186, 186) 2px;
    overflow: hidden;
}


/* プロフィール欄 */
.main_wrap{
    width: 75vw;
    margin: 1rem auto;
}
.profile_table {
    width: 100%;
    border: 1px solid rgb(186, 186, 186);
    border-collapse: collapse;
    overflow: hidden;
}
.profile_table .header {
    width: 15vw;
    padding: 20px;
    text-align: center;
    background-color: #CCFFFF;
}
.profile_table .data {
    padding: 20px;
    background-color: white;
    border-left: solid 2px rgb(186, 186, 186);
}
.button {
    width: 200px;
    margin-top: 1rem;
}

.form_wrap {
    display: grid;
    gap: 15px;
}
.form_wrap-2 {
    grid-template-columns: repeat(2, 1fr);
}
.form-control:focus {
}
.account_card {
    width: 400px;
}
.form-label-group {
    margin-bottom: 1rem;
}

/* ---------- カテゴリ検索欄 ---------- */
.category-card {
    border: solid 1px rgb(186, 186, 186)ff;
}
.category-item {
    text-align: center;
}
.card-img-top {
    font-size: 3rem;
    margin: auto;
    text-align: center;
}
.category-name1 {
    text-align: center;
    margin-bottom: 0px;
}

.c_dm_1:hover {
    position: relative;
    color: #ff7f50;
}
.c_dm_1_sub {
    z-index: 1;
}

.c_dm_2 {
    position: absolute;
    height: 130px;
    width: 150px;
    background-color: #EEE;
    visibility: hidden;
    z-index: 5;
}

.c_dm_1:hover .c_dm_2 {
    visibility: visible;
}

/* .c_dm_2_sub {
    position: relative;
} */

.c_dm_3 {
    position: absolute;
    top: 0;
    left: 150px;
    height: 130px;
    background-color: #EEE;
    visibility: hidden;
}

.c_dm_2_sub:hover .c_dm_3 {
    visibility: visible;
}

.category-icon-other {
    color: #000;
}

.category-icon-other:hover {
    text-decoration: none;
}

.c_dm_2, .c_dm_3 {
    padding: 0;
}
.fa-caret-right {
    float: right;
    transform: translateY(30%);
}

/* 質問フォーム */
.Qform h2, .Aform h2 {
    text-align: center;
}
.Qconfirm {
    display: flex;
    justify-content: center;
}

/* 回答 */
.media-detail {
    font-size: 12px;
}
.comments {
    border: solid rgb(186, 186, 186) 1px;
    background-color: #fff;
}

/* ---------- 質問リスト ---------- */
.posts{
    border: rgb(186, 186, 186) solid 1px;
}

/* ---------- ページネーション ----------- */
.previous::before {
    content: "\0ab";
}
.next::after {
    content: "\0bb";
}

/* footer */
.bottoms {
    margin-bottom: 1000px;
}
footer {
    background-color: #6495ed;
    width: 100%;
    position: fixed;
    bottom: 0;
    margin: 100px 0 0 0;
    z-index: 1;
}
.footer-wrapper {
    margin: 0 auto;
}
.copy-w {
    text-align: center;
    color: #fff;
}
.copy-w a {
    color: #fff;
    display: block;
}