<!doctype html>
{% load static %}
<html lang="ja">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css"
        integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
        <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <link href="https://fonts.googleapis.com/css?family=Fredoka+One&display=swap" rel="stylesheet">

    <title>Qulle</title>
</head>

<body>
    <div class="all">
        <!-- ---------- Navigation ---------- -->
        <header>
            <div class="nav-wrap row pt-1">
                <div class="nav-title col-12 col-md-4">
                    <a href="/">
                        <h3>Quelle</h3>
                    </a>
                </div>
                <ul class="nav-list col-12 col-md-8 d-flex justify-content-around align-items-center">
                    {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a href="{% url 'news_list' %}" class="">NEWS</a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'post_new' %}" class="">POST</a>
                    </li>
                    <!-- <li class="nav-item">
                            <a href="{% url 'post_list' %}" class="">POSTS</a>
                        </li> -->
                    <li class="nav-item">
                        <a href="{% url 'profile' %}" class="">Profile</a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'account_logout' %}" class="">Logout</a>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a href="{% url 'account_signup' %}" class="">Signup</a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'account_login' %}" class="">Login</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </header>

        <div class="search mt-1 col-12 main_wrap">
            <form method="get" action="{% url 'search' %}" class="input-group right">
                <input type="text" class="" name="keyword" placeholder="投稿を検索">
                <button class="btn btn-primary" type="submit">検索</button>
            </form>
        </div>

        <main>
            <div class="container">
                {% block content %}
                {% endblock content %}
            </div>
        </main>

        <!-- ---------- Footer ---------- -->
        <footer>
            <div class="footer-wrapper mt-1 pt-2">
                <div class="container-fluid padding">
                    <div class="row">
                        <!-- コピーライト系 -->
                        <div class="col-12">
                            <div class="copy-w">
                                <h3>Quelle</h3>
                                <p class="mb-1">知識共有サイト</p>
                                <p>&copy; Quelle</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>

    <!-- Optional JavaScript -->
    <!-- Popper.js first, then Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js"
        integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/"
        crossorigin="anonymous"></script>
</body>

</html>