<!doctype html>
{% load static %}
<html lang="ja">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css"
        integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css"
        integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <link href="https://fonts.googleapis.com/css?family=Fredoka+One&display=swap" rel="stylesheet">

    <title>Qulle</title>
</head>

<body>
    <!-- ---------- Navigation ---------- -->
    <nav class="navbar navbar-expand-md sticky-top">
        <a class="navbar-brand" href="/">
            <h3>Quelle</h3>
        </a>
        <div class="flex-fill">
            <div class="N-items">
                <button class="navbar-toggler my-1 shadow" type="button" data-toggle="collapse"
                    data-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <i class="fas fa-bars"></i>
                </button>
                <div class="collapse navbar-collapse d-md-flex justify-content-end" id="navbarToggler">
                    <ul class="navbar-nav">
                        {% if user.is_authenticated %}
                        <li class="nav-item">
                            <a href="{% url 'news_list' %}" class="nav-link">NEWS</a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'post_new' %}" class="nav-link">POST</a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'post_list' %}" class="nav-link">POSTS</a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'profile' %}" class="nav-link">Profile</a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'account_logout' %}" class="nav-link">Logout</a>
                        </li>
                        {% else %}
                        <li class="nav-item">
                            <a href="{% url 'account_signup' %}" class="nav-link">Signup</a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'account_login' %}" class="nav-link">Login</a>
                        </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
        <div>
            <form method="get" action="{% url 'search' %}" class="input-group">
                <input type="text" class="form-control" name="keyword" placeholder="投稿を検索">
                <button class="btn btn-primary" type="submit">検索</button>
            </form>
        </div>
    </nav>

    <div>
        <ul class="bread">
            {% block bread %}
            {% endblock bread %}
        </ul>
    </div>

    <main>
        <div class="container">
            {% block content %}
            {% endblock content %}
        </div>
    </main>

    <!-- ---------- Footer ---------- -->
    <footer>
        <div class="footer-wrapper mt-4 pt-4">
            <div class="container-fluid padding">
                <div class="row">
                    <!-- ページ -->
                    <div class="col-sm-6">
                        <div class="page-intro">
                            <h5>Pages</h5>
                            <p><a class="d-block" href="/">Home</a></p>
                        </div>
                    </div>
                    <!-- 固定ページ -->
                    <div class="col-sm-6">
                        <div class="about-intro">
                            <h5>About</h5>
                            <p><a class="d-block" href="">お問い合わせ</a></p>
                            <a class="my-2 d-block" href="#"><span><i class="fab fa-github-square"></i></span>
                                Github</a>
                        </div>
                    </div>
                    <!-- コピーライト系 -->
                    <div class="col-12 my-1">
                        <div class="copy-w">
                            <h3>Quelle</h3>
                            <p class="mb-1">知識共有サイト</p>
                            <p>&copy; Quelle</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!-- Optional JavaScript -->
    <!-- Popper.js first, then Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js"
        integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/"
        crossorigin="anonymous"></script>
</body>

</html>