{% extends 'forum/base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block content %}
    <div class="row main_wrap">
        <div class="col-12">
        <!-- ----- 回答フォーム ----- -->
        <h3 class="text-center">ANSWER</h3>
            <hr>
            <div>
                <form method="POST" class="post-form">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="">回答者</label>
                        {% render_field form.author class="form-control" %}
                    </div>
                    <div class="mb-3">
                        <label for="">内容</label>
                        {% render_field form.text class="form-control" %}
                    </div>
                    <div class="text-center">
                        <button class="btn btn-success" type="submit">投稿する</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}