{% extends 'forum/base.html' %}
{% load static %}

{% block bread %}
<li class="active">Home</li>
{% endblock %}

{% block content %}
<!-- ---------- 質問検索欄 ---------- -->
<div class="main_wrap">
    <h2 class="text-center">質問を探す</h2>
    <hr>
    <div class="row">
        <!-- ---------- カテゴリーから探す ---------- -->
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h4><span class="marker">カテゴリーから探す</span></h4>
                </div>
                <div class="card-body">
                    <!-- カテゴリ一覧 -->
                    <div>
                        {% for large in large_list %}
                        <ul>
                            <li>
                                <span>{{ large.name }}</span>
                                {% for middle in middle_list %}
                                {% if middle.large.id == large.id %}
                                <ul>
                                    <li>
                                        <span>{{ middle.name }}</span>
                                        {% for small in small_list %}
                                        {% if small.middle.id == middle.id %}
                                        <ul>
                                            <li>
                                                <a href="#">
                                                    {{ small.name }}
                                                </a>
                                            </li>
                                        </ul>
                                        {% endif %}
                                        {% endfor %}
                                    </li>
                                </ul>
                                {% endif %}
                                {% endfor %}
                            </li>
                        </ul>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}