{% extends 'forum/base.html' %}
{% load static %}

{% block bread %}
    <li class="active">index.html</li>
{% endblock %}

{% block content %}
<!-- ---------- 質問検索欄 ---------- -->
<div class="main_wrap">
    <h2 class="text-center">質問を探す</h2>
    <hr>
    <div class="row">
        <!-- ---------- カテゴリーから探す ---------- -->
        <div class="col-12">
            <div class="card shadow">
                <div class="card-header shadow-sm mb-2">
                    <h4><span class="marker">カテゴリーから探す</span></h4>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}