{% extends 'forum/base.html' %}
{% load static %}

{% block content %}
<!-- ---------- 質問検索欄 ---------- -->
<div class="main_wrap">
    <h2 class="text-center">質問を探す</h2>
    <hr>
    <div class="row">
        <!-- ---------- カテゴリーから探す ---------- -->
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h4><span class="marker">カテゴリーから探す</span></h4>
                </div>
                <div class="card-body">
                    <!-- カテゴリ一覧 -->
                    <div class="row no-gutters d-flex justify-content-around">
                        {% for large in large_list %}
                        <ul class="col-5 col-md-3 mr-2 mt-2">
                            <li class="category-icon c_dm_1">
                                <div class="card c_dm_1_sub">
                                    <i class="card-img-top mt-3">{{large.icon}}</i>
                                    <div class="card-body p-2">
                                        <p class="card-text category-name1">{{ large.name }}</p>
                                    </div>
                                    <div class="card-footer d-flex justify-content-center">
                                        <i class="fas fa-chevron-down"></i>
                                    </div>
                                </div>
                                <ul class="flex-column c_dm_2">
                                    {% for middle in middle_list %}
                                    {% if middle.large.id == large.id %}
                                    <li class="c_dm_2_sub">
                                        <button class="dropdown-item">
                                            <span>{{ middle.name }}</span><i class="fas fa-caret-right"></i>
                                        </button>
                                        <ul class="flex-column c_dm_3">
                                            {% for small in small_list %}
                                            {% if small.middle.id == middle.id %}
                                            <li class="dropdown-item">
                                                <a href="{% url 'category' large.name middle.name small.name %}">
                                                    {{ small.name }}
                                                </a>
                                            </li>
                                            {% endif %}
                                            {% endfor %}
                                        </ul>
                                    </li>
                                    {% endif %}
                                    {% endfor %}
                                </ul>
                            </li>
                        </ul>
                        {% endfor %}
                    </div>
                    <div class="card">
                        {% for large in large_list %}
                        <ul>
                            <li>
                                <span>{{ large.name }}</span>
                                {% for middle in middle_list %}
                                {% if middle.large.id == large.id %}
                                <ul>
                                    <li>
                                        <span>{{ middle.name }}</span>
                                        {% for small in small_list %}
                                        {% if small.middle.id == middle.id %}
                                        <ul>
                                            <li>
                                                <a href="#">
                                                    {{ small.name }}
                                                </a>
                                            </li>
                                        </ul>
                                        {% endif %}
                                        {% endfor %}
                                    </li>
                                </ul>
                                {% endif %}
                                {% endfor %}
                            </li>
                        </ul>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}