{% extends 'forum/base.html' %}
{% load static %}

{% block content %}
    <div class="row main_wrap">
        <div class="col-12 my-2">
            <!-- ----- News ----- -->
            <h3 class="text-center">{{ news_data.title }}</h3>
            <hr>
            <div class="media">
                <div class="media-body">
                    <p class="mt-2 ml-2">{{ news_data.text|linebreaksbr }}</p>
                </div>
                <div class="media-detail post_detail">
                    <p>投稿者：{{ news_data.author }}</p>
                    <p>投稿日時：{{ news_data.created_date }}</p>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}