{% extends 'forum/base.html' %}
{% load static %}

{% block bread %}
<li class="breadcrumb-item"><a href="/">Home</a></li>
<li class="breadcrumb-item">NEWS</li>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-12">
        <!-- ---------- 最新情報一覧 ---------- -->
        <div class="main_wrap">
            <h2 class="text-center">NEWS一覧</h2>
            <hr>
            <div class="medium p-2">
                {% for news in news_data %}
                <div class="media">
                    <div class="media-body bg-white p-3">
                        <h5><a class="text-info font-weight-bold"
                                href="{% url 'forum:news_detail' news.id %}">{{ news.title }}</a></h5>
                        <p>{{ news.text|linebreaksbr|truncatechars:100 }}</p>
                        <p>{{ news.author }}　{{ news.created_date }}</p>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock content %}