{% extends 'forum/base.html' %}
{% load static %}

{% block bread %}
<li class="breadcrumb-item"><a href="/">Home</a></li>
<li class="breadcrumb-item"></li>
<li class="breadcrumb-item"></li>
<li class="breadcrumb-item"></li>
<li class="breadcrumb-item active">質問内容</li>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-12">
            <!-- ----- 質問詳細 ----- -->
            <h3 class="text-center">質問内容</h3>
            <hr>
            <div>
                <h5>{{ post_data.title }}</h5>
                <p>{{ post_data.content|linebreaksbr }}</p>
                <p>{{ post_data.created_date }}</p>
            </div>
        </div>
    </div>
{% endblock content %}