{% extends 'accounts/accounts_base.html' %}
{% load widget_tweaks %}
{% load static %}

{% block content %}
<div class="row main_wrap">
    <!-- ---------- サイドメニュー ---------- -->
    <div class="col-12 col-lg-4 mt-3">
        <div class="list-group text-center">
            <a href="{% url 'profile' %}" class="list-group-item list-group-item-action active">登録情報の確認・変更</a>
            <a href="{% url 'previous_post' %}" class="list-group-item list-group-item-action">投稿した質問</a>
        </div>
    </div>

    <div class="col-12 col-lg-8">
        <!-- ---------- プロフィール欄 ---------- -->
        <div class="mt-3">
            <h4 class="mb-3 text-center">Your Profile</h4>
            <hr>
            <table class="profile_table shadow">
                <tbody>
                    <tr>
                        <th class="header">名前</th>
                        <td class="data">{{ user_data.first_name }} {{ user_data.last_name }}</td>
                    </tr>
                    <tr>
                        <th class="header">メールアドレス</th>
                        <td class="data">{{ user_data.email }}</td>
                    </tr>
                    <tr>
                        <th class="header">所属</th>
                        <td class="data">{{ user_data.department }}</td>
                    </tr>
                    <tr>
                        <th class="header">役職</th>
                        <td class="data">{{ user_data.position }}</td>
                    </tr>
                    <tr>
                        <th class="header">入会日</th>
                        <td class="data">{{ user_data.created|date:"Y/n/j" }}</td>
                    </tr>
                </tbody>
            </table>
            <div class="button mx-auto mt-3">
                <a href="{% url 'profile_edit' %}" class="btn btn-warning btn-block">編集する</a>
            </div>
        </div>
    </div>
</div>
{% endblock content %}